.center {
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
}

.ba {
  border-style: solid;
  border-width: 1px;
}

.bb {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.b--white-20 {
  border-color: rgba(255, 255, 255, .2);
}

.b--white-10 {
  border-color: rgba(255, 255, 255, .1);
}

.br-pill {
  border-radius: 9999px;
}

.container {
  display: flex; /* or inline-flex */
  justify-content: space-around;
  align-items: center;
}

.dib {
  display: inline-block;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.h1 {
  height: 1rem;
}

.link {
  text-decoration: none;
  transition: color .15s ease-in;
}

.link:link, .link:visited {
  transition: color .15s ease-in;
}

.link:hover {
  transition: color .15s ease-in;
}

.link:active {
  transition: color .15s ease-in;
}

.link:focus {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}

.heading {
  height: 71px;
  border-bottom: 1px solid rgb(231, 227, 227);
  top: 28px;
  left: 0;
  width: 100%;
  position: fixed;
  font-size: 14px;
  font-weight: 600;
}

.svg {
  height: 25px;
  width: 25px;
  white-space: nowrap;
}

.navText {
  white-space: nowrap;
}

.payPoint {
  margin-right: 2em;
  font-size: 12px;
  font-weight: 500;
}

.leftNav {
  flex-direction: column;
  font-size: 11px;
  font-weight: 500;
  row-gap: 20px;
  width: 105px;
  background-color: #2A6994;
  /* padding: 2em; */
  text-align: center;
  color: #fff;
  padding: 1rem 0;
  position: fixed;
  top: 99px;
  bottom: 0;
  height: calc(100% - 99px);
  justify-content: flex-start;
  z-index: 2;
}

.dashboard {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 30px 50px 0 50px;
  height: 800px;
  left: 105px;
  top: 99px;
  bottom: 30px;
  width: auto;
  
  overflow-y: scroll;

}

.logoI {
  height: 2rem;
  width: 5rem;
  margin: auto;
}

.logo {
  margin-left: 2em;
  justify-content: left;
  padding: 5px;
  size: 2em;
}

.search {
  flex-grow: 1;
  display: flex;
  justify-content: left;
  /* padding: 7px; */
  align-items: center;
}

.search-bar {
  height: 2.5rem;
  width: 15rem;
  margin-left: 20em;
  margin-right: 15em;
  border-color: #3C759D;
  border-radius: 0.2rem;
}

select {
  height: 20px;
  width: 38px;
  outline: none;
  border: none;
 
}

.drop {
  margin-left: 10px;
  /* font-weight: bold; */
}

.box {
  box-sizing: border-box;
  border: 1px solid ;
  border-top: white;
  border-left: white;
  border-bottom: white;
  border-right: ;
  border-color: #3C759D;
  padding: 5px;
}

.input {
  margin-left: 1rem;
  height: 23px;
  width: 19em;
  outline: none;
  box-shadow: none;
  
  border-right: white;
  border-bottom: white;
  border-top: white;
  border-left: #3C759D 2px;
}

.footer {
  justify-content: flex-end;
  height: 31px;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.header {
  justify-content: space-around;
  background-color: #0275d8;
  height: 31px !important;
  font-size: 11px;
  position: fixed;
  top: 0;
  width: 100%;
}

.profileSub {
  justify-content: center;
  flex-direction: column;
  display: flex;
  max-width: 75px;
  line-height: 15px;
}

.leftNavSub {
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  max-width: 75px;
  line-height: 20px;
  /* padding: 7px; */
}

.leftText {
  line-height: 11px;
}

.profile {
  flex-grow: 1;
  justify-content: center;
  
}

.w1 {
  width: 1rem;
}

.white-70 {
  color: rgba(255, 255, 255, .7);
}

.white {
  color: #fff;
}

.hover-black:hover {
  color: #000;
}

.hover-black:focus {
  color: #000;
}

.hover-white:hover {
  color: #fff;
}

.hover-white:focus {
  color: #fff;
}

.hover-bg-white:hover {
  background-color: #fff;
}

.hover-bg-white:focus {
  background-color: #fff;
}

.pa3 {
  padding: 1rem;
}

.pv2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.ph4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.mr3 {
  margin-right: 1rem;
}

.no-underline {
  text-decoration: none;
}

.f6 {
  font-size: .875rem;
}

.dim {
  opacity: 1;
  transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
  opacity: .5;
  transition: opacity .15s ease-in;
}

.dim:active {
  opacity: .8;
  transition: opacity .15s ease-out;
}

.bg-animate, .bg-animate:hover, .bg-animate:focus {
  transition: background-color .15s ease-in-out;
}

@media screen and (min-width: 30em) {
  .mr4-ns {
      margin-right: 2rem;
  }
}

.bg-blue { background-color: var(--blue); }